.user-menu{
	color: $black;
	cursor: pointer;
	padding: 6px 12px;
	&:hover,
	&:active {
		background: $gray-100;
		color: $orange-500;
	}	
	&:focus {
		color: $orange-500;
	}
	&__link {
		@extend .link;
		padding: 0.25rem 1rem;
		&:hover {
			background: $gray-100;
		}
	}
	&__menu{
		min-width: 230px;
	}
}