.custom-input{
	max-width: 400px;
	&__field {
		font-family: inherit;
		width: 100%;
		border: 0;
		border-bottom: 2px solid $gray-500;
		outline: 0;
		color: $black;
		padding: 7px 0;
		background: transparent;
		transition: border-color 0.2s;
	
		&::placeholder {
			color: transparent;
		}
	
		&:placeholder-shown~.custom-input__label {
			cursor: text;
			top: 20px;
		}
	
		&:required,
		&:invalid {
			box-shadow: none;
		}
	
		&:focus {
			~.custom-input__label {
				font-size: 0.8rem !important;
				position: absolute;
				top: 0;
				display: block;
				transition: 0.2s;
			}
	
			border-width: 2px;
			border-color: $gray-800;
		}
	}
	&__label {
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		color: $gray-600;
	}
}